* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(./imges/c1.png);
    background-repeat: no-repeat;
    background-position: top right;
  }
  header nav {
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  header nav a {
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
  
    font-size: 18px;
    color: #fafafa;
  }
  /* end header section */
  /* start main section */
main {
    background-image: url(./imges/12.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 25%;
    padding-bottom: 40%;
  }
  main h1 {
    color: orange;
    margin-top: 200px;
    margin-left: 30px;
    font-size: 45px;
    max-width: 200px;
  }
  main button {
    width: 170px;
    height: 47px;
    background: #fab714;
    border-radius: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    border: none;
    color: #fafafa;
  }
  .iuner-img {
    display: flex;
    justify-content: flex-end;
  }
  .start-btn {
    display: block;
    margin: auto;
    width: 150px;
  }
  /* start feature section */
.features {
    color: orange;
    font-size: 30px;
    background-image: url(./imges/4.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 100%;
    padding-bottom: 100px;
  }
  .info-icon {
    display: flex;
    margin-top: 30px;
  }
  .info-icon img {
    margin-right: 20px;
  }
  .info-icon p {
    margin-top: 7%;
    color: #000;
  }
  .desktop-img {
    display: none;
  }
  .footer-desktop {
    display: block;
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: white;
  }
  .desktop {
    display: none !important;
  }
  .phone {
    display: block;
  }
  .start-btn a {
    text-decoration: none;
    color: white;
  }
  /* start about us section */
footer {
    width: 100%;
    height: 170px;
    padding: 5px 20px;
  }
  footer h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #fab714;
    padding: 10px;
    margin-bottom: 20px;
  }
  footer p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }